.ticket-details {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.ticket-details::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Optional: Customize the scrollbar if needed */
.ticket-details::-webkit-scrollbar {
  width: 0; /* Remove width */
  height: 0; /* Remove height */
}
.ticket-details h4 {
  margin-bottom: 1rem;
}

.ticket-details .form-group {
  margin-bottom: 0.5rem;
}

.ticket-details .form-group strong {
  margin-right: 0.5rem;
}

.status {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
}

.status.new {
  color: #fff;
  background-color: #e56000; /* Orange for New */
}

.status.in-progress {
  color: #000;
  background-color: #ffc107; /* Yellow for InProgress */
}

.status.resolved {
  color: #fff;
  background-color: #28a745; /* Green for Resolved */
}

.status.closed {
  color: #fff;
  background-color: #dc3545; /* Red for Closed */
}

/* Enhance clarity for other fields */
.ticket-details .col-sm-4 {
  padding: 0.5rem 1rem; /* Adjust padding for better spacing */
}

.ticket-details label {
  font-weight: bold;
}

.ticket-details .form-control-static {
  margin-bottom: 0; /* Remove default margin for cleaner layout */
  color: black; /* Set text color to black */
}