<div *ngIf="ticket" class="ticket-details card mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <p class="form-control-static h4"><strong>{{ ticket.subject }}</strong></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label><strong>Status:</strong></label>
          <p class="form-control-static">
            <span class="status" [ngClass]="{
              'new': ticket.status === 'New',
              'in-progress': ticket.status === 'InProgress',
              'resolved': ticket.status === 'Resolved',
              'closed': ticket.status === 'Closed'
            }">{{ ticket.status }}</span>
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label><strong>Type:</strong></label>
          <p class="form-control-static">{{ ticket.type }}</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label><strong>Priority:</strong></label>
          <p class="form-control-static">{{ ticket.priority }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label><strong>Agent Email:</strong></label>
          <p class="form-control-static">{{ ticket.username }}</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label><strong>Request Date:</strong></label>
          <p class="form-control-static">{{ ticket.date | date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
